body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f4f4f4;
    padding: 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.avatar-img:hover {
    transform: scale(1.1);
}

.avatars img {
    border: 2px solid transparent;
    padding: 3px;
}

.avatars img.selected {
    border-color: #28a745;
}

nav {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav a {
    color: white;
    font-weight: 600;
}

.welcome-text {
    color: #fff;
    font-size: 1.1rem;
    margin-left: auto;
}

.avatar-in-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.navbar {
    background-color: hwb(134 16% 35%);
}

.navbar-toggler {
    border-color: white;
}
.bg-success {
--bs-bg-opacity: 1;
background-color: rgb(0 77 64) !important;
}
.btn-success {
background-color: #004d40 !important;
border-color: #004d40 !important;
}
.stats-list p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.external-image-field {
    display: none;
}