body{
  background-image: url('../images/bg3.jpg');
background-size: cover; /* لجعل الصورة تغطي الخلفية بالكامل */
background-position: center; /* لجعل الصورة تتمركز */
background-repeat: no-repeat; /* لمنع تكرار الصورة */
margin: 0;
padding: 0;
font-family: 'Tajawal', sans-serif;

}
.bg-success {
--bs-bg-opacity: 1;
background-color: rgb(0 77 64) !important;
}
.card{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.626) !important;
border-radius: 5px !important;
box-shadow: 0 4px 30px rgba(76, 174, 79, 0.1);
backdrop-filter: blur(5px) !important;
}

.start-button {
  width: 100%;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #45a049;
}

.login-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #4CAF50;
  text-decoration: none;
}

.c-form__nextIcon {
  font-size: 24px;
  color: #fff;
  padding: 8px 12px;
  background-color: #28a745;
  border-radius: 50%;
  cursor: pointer;
}

.avatars img {
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.avatars img:hover {
  transform: scale(1.1);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid transparent;
}

.avatar-img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.avatar-img.selected {
  border: 3px solid #28a745;
}

h3 {
  font-family: 'Cairo', sans-serif;
  color: #333;
}

.btn-success {
  background-color: #004d40;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}

.error-container {
  margin-top: 10px;
  display: none;
}

.error-container.active {
  display: block;
}
